/* PAGINA */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2B2D42;
    color: black;
}

#container {
    width: 100%;
    margin: 0 auto;
}

/* --------------------------- HEADER -------------------------------------------------- */
header {
    height: 100px;
    color: white;
}   

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    margin: 0;
    background-color: #333;
}

.navbar-item {
    display: flex;
    align-items: center;
    position: relative;
}

#logo_of_page {
    font-size: 2.5em; /* Aumenta el tamaño del texto del logo */
    font-weight: bold;
    color: white;
    text-decoration: none;
    white-space: nowrap; /* Evita que el texto se quiebre en múltiples líneas */
}

#logo_of_page img{
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 2px;
}

.navbar-item.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 12px 15px;
    width: 350px;
    border-radius: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    background-color: #67676b;
}

.search-container input:focus {
    background-color: #ffffff;

}


.user-menu a {
    color: white;
    font-size: 1.2em;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.user-menu a:hover {
    color: #ddd;
}

#profile{
    color: gray
}
#profile svg:hover{
    color: white;

}

#exit{
    color: gray
}
#exit svg:hover{
    color: white;

}
/* lupa dentro del input */
.search-container {
    position: relative;
    display: inline-block;
}

.search-container input[type="text"] {
    padding-left: 40px; 
    font-size: 16px;
    width: 140%;
}

.search-icon {
    position: absolute;
    left: 8px;
    top: 40%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #ffffff;
}

/* --------------------------- MAIN ---------------------------------------------------------- */
main {
    float: right;
    width: 80%;
    min-height: 500px;
    background-color: #2B2D42;
    color: white;
}

section{
    width: 98%;
    min-height: 480px;
    background-color: #2e2e38;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    font-family:'Courier New', Courier, monospace;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
/*------CANCIONES A LA IZQUIERDA -----*/
#song{
    background-color: #67676b;
    width: 70%;
    padding: 40px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}


#previousSong img,
#nextSong img {
    width: 80%; 
    max-width: 230px; 
    height: auto;
    border-radius: 20px;
    text-align: center;

    
}

#previousSong span, 
#nextSong span {
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}

#currentSong img {
    width: 100%;
    max-width: 420px; 
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

/*---- MENÚ DE MÚSICA -----*/

#playMusic{
    width: 30%;
    text-align: right;
    justify-content: space-between;
    text-align: center;
    
}
#bigTime-iconArtist {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bigTime {
    font-size: 3em;
    font-weight: bold;
    color: #fff
}

#iconArtist img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #fff; 
    transition: all 0.3s ease-in-out;

}

/* ---------Time Bar-------------- */
#timeBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    color: #ffffff;
    
}

#timeBar span {
    padding: 10px;
    font-size: 1em;
}

#progressBar {
    flex-grow: 1;
    margin: 0 10px;
    height: 10px;
    background-color: #555;
    appearance: none;
    border-radius: 10px;

}

#progressBar::-webkit-slider-runnable-track {
    background-color: #b429f9;
    height: 5px;
}

#progressBar::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    ;
}

/* ---------Song Info and Controls----------- */
#songName-playPause {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 30px;
}

#songInfo {
    font-size: 1em;
}

#controls {
    display: flex;
    gap: 10px;
}

#controls button {
    background-color: #b429f9;
    border: none;
    color: white;
    font-size: 1em;
    padding: 15px;
    border-radius: 20%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:hover {
    background-color: #666;
}

#artistName{
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}



/* --------------------------- ASIDE (BARRA LATERAL) ----------------------------------------*/
aside {
    float: left;
    width: calc(18% - 36px);
    min-height: 800px;
    background-color: #2e2e38;
    padding: 18px;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    font-family:'Courier New', Courier, monospace;
    list-style: none;

}   

.sidebar {
    width: 250px;
    background-color: #2e2e38;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.playlist {
    list-style: none;
    padding: 0;
    width: 100%;
}

.playlist li {
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.playlist li img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
}

.playlist li div {
    display: flex;
    flex-direction: column; 
}

.playlist li span {
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}


.search-bar-playlist input{
    padding: 12px 15px;
    margin: 10px auto;
    width: 200px;
    border-radius: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    background-color: #67676b;
    
}

.search-container-playlist input:focus{
    background-color: #ffffff; 
    
}

.search-container-playlist {
    position: relative;
    display: inline-block;
}

.search-container-playlist input[type="text"] {
    padding-left: 40px; 
    font-size: 16px;
    width: 100%;
}

.search-icon {
    position: absolute;
    left: 8px;
    top: 40%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #ffffff;
}

button{
    background-color: #16213e00;
    border: none;
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#addPlaylist li {
    display: flex;
    align-items: center;
}

#addPlaylist img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
}





/* --------------------------- FOOTER ----------------------------------------------------------*/
/* Estilos del footer */
footer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 320px;
    border-radius: 20px;
}

footer img {
    width: 100%; 
    max-width: 230px; 
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.3s ease-in-out;

}

#namePlaylistR1, #namePlaylistR2, 
#namePlaylistR3, #namePlaylistR4, 
#namePlaylistR5, #namePlaylistR6 {
    background-color: #16213e;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#namePlaylistR1 span, #namePlaylistR2 span, 
#namePlaylistR3 span, #namePlaylistR4 span, 
#namePlaylistR5 span, #namePlaylistR6 span {
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}

#playlistR1, #playlistR2, #playlistR3, 
#playlistR4, #playlistR5, #playlistR6 {
    width: 250px;
    height: 300px;
    margin-right: 40px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}












