<li class="flex justify-center items-center my-4 ">
  <div class="relative inline-block ">
    <input id="searchInput" #searchInput type="text" placeholder="¿Qué quieres reproducir?"
      class="pl-12 pr-4 py-3 w-[500px] rounded-full border-none transition-all duration-300 ease-in-out bg-gray-800 focus:bg-white text-base text-white focus:text-black placeholder-gray-300 focus:placeholder-gray-500 outline-none shadow-lg hover:shadow-2xl focus:shadow-2xl"
      (keydown.enter)="search(searchInput.value)">

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="absolute left-3 top-1/2 transform -translate-y-1/2 w-6 h-6 text-white transition-all duration-300 ease-in-out">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1 0 3 10.5a7.5 7.5 0 0 0 13.65 6.15z" />
    </svg>
  </div>
</li>