<div *ngIf="selectedSong != null" class="bg-[#67676b] p-3 rounded-3xl mx-auto flex items-center space-x-6">
  <div class="w-10 h-10">
    <img 
      class="w-full h-full rounded-full object-cover" 
      [src]="selectedImage" 
      alt="Cover Image">
  </div>
    <!-- Botón Play/Pause -->
    <button (click)="togglePlay()" class="text-2xl text-white ml-2">
      <span *ngIf="!isPlaying">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
          </svg>
          
      </span>
      <span *ngIf="isPlaying">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
          </svg>
          
      </span>
    </button>
  
    <!-- Tiempo actual -->
    <span class="text-white ">{{ currentTime }}</span>
  
    <!-- Barra de progreso -->
    <input 
      type="range" 
      [value]="progress" 
      (input)="changeProgress($event)"
      class="flex-1 h-1 bg-black rounded-lg appearance-none">
  

    <span class="text-white pr-4 border-r-2">{{ totalTime }}</span>
  
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 9.75 19.5 12m0 0 2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6 4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
    </svg>
    
    <input 
      type="range" 
      min="0" 
      max="100" 
      [value]="volume * 100" 
      (input)="changeVolume($event)" 
      class="w-16 h-1 bg-black rounded-lg appearance-none">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
      </svg>
      
  </div>
  