<main class="float-right w-4/5 min-h-[500px]  text-white overflow-hidden ">
    <section class="float-right w-full min-h-[480px] bg-[#2e2e38] text-white rounded-2xl ml-2.5 font-mono flex justify-between items-center overflow-hidden">
        <app-three-main-songs></app-three-main-songs>

        <div id="playMusic">
            <app-song-info-icon-artist></app-song-info-icon-artist>
            <app-slide-time></app-slide-time>
            <app-play-pause></app-play-pause>
        </div>
    </section>
</main>
