<div class="container mx-auto flex justify-between mt-16 px-10 min-h-[700px] ">
    <div class="w-1/2 p-5 overflow-y-auto max-h-[830px] mr-10 ">

        <a 
        class=" hvr-underline-from-center text-3xl font-bold uppercase border-b-2 border-gray-600 w-full text-center pb-6 ">
        {{currentUser.userName}}
        </a>

        <form class="mt-10" [formGroup]="profileForm" (ngSubmit)="editProfile()">
            <div class="flex mb-8 p-2">
              <label class="relative w-full">
                <input formControlName="userName" type="text" 
                       placeholder="{{currentUser.userName}}" required
                       class="px-4 py-2 text-lg outline-none border-2 border-gray-400 rounded hover:border-gray-600 duration-200 peer bg-inherit w-full placeholder-black focus:placeholder-gray-600"
                       (keydown.enter)="editProfile()">
                <span class="flex flex-auto absolute left-0 top-2 px-1 text-lg tracking-wide peer-focus:text-firstColor pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-5 peer-valid:-translate-y-5 peer-valid:text-sm bg-slate-950 rounded-2xl ml-2 text-white">
                  Nombre de usuario *
                </span>
              </label>
            </div>
          
            <div class="flex mb-8 p-2">
                <label class="relative w-full">
                    <input formControlName="email" type="email" 
                            placeholder="{{currentUser.email}}" required
                            class="px-4 py-2 text-lg outline-none border-2 border-gray-400 rounded hover:border-gray-600 duration-200 peer bg-inherit w-full placeholder-black focus:placeholder-gray-600"
                            (keydown.enter)="editProfile()">
                    <span class="flex flex-auto absolute left-0 top-2 px-1 text-lg tracking-wide peer-focus:text-firstColor pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-5 peer-valid:-translate-y-5 peer-valid:text-sm bg-slate-950 rounded-2xl ml-2 text-white">
                        Correo electrónico*
                    </span>
                </label>
            </div>
  
            <div class="flex mb-8 p-2">
                <label class="relative w-full">
                    <input formControlName="dateOfBirth" type="date" 
                            required
                            class="px-4 py-2 text-lg outline-none border-2 border-gray-400 rounded hover:border-gray-600 duration-200 peer bg-inherit w-full placeholder-black focus:placeholder-gray-600"
                            (keydown.enter)="editProfile()">
                    <span class="flex flex-auto absolute left-0 top-2 px-1 text-lg tracking-wide peer-focus:text-firstColor pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-5 peer-valid:-translate-y-5 peer-valid:text-sm bg-slate-950 rounded-2xl ml-2 text-white">
                        Fecha de {{ currentUser.role === 'artist' ? 'fundación' : 'nacimiento' }}*
                    </span>
                </label>
            </div>
              
            <div class="flex mb-8 p-2">
              <label class="relative w-full">
                <input formControlName="location" type="text" 
                       placeholder="{{currentUser.location}}"
                       class="px-4 py-2 text-lg outline-none border-2 border-gray-400 rounded hover:border-gray-600 duration-200 peer focus:border-firstColor bg-inherit w-full"
                       (keydown.enter)="editProfile()">
                <span class="flex flex-auto absolute left-0 top-2 px-1 text-lg tracking-wide peer-focus:text-firstColor pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-5 peer-valid:-translate-y-5 peer-valid:text-sm bg-slate-950 rounded-2xl ml-2 text-white">
                  País de origen
                </span>
              </label>
            </div>

            <div *ngIf="isArtist(currentUser)">
                <div class="flex mb-8 p-2">
                  <label class="relative w-full">
                    <input formControlName="biography" type="text" 
                           [placeholder]="currentUser.biography === undefined ? 'Cuentale a la audiencia tu biografía' : currentUser.biography" 
                           class="px-4 py-2 text-lg outline-none border-2 border-blue-300 rounded hover:border-gray-600 duration-200 peer focus:border-firstColor bg-inherit w-full"
                           (keydown.enter)="editProfile()">
                    <span class="flex flex-auto absolute left-0 top-2 px-1 text-lg tracking-wide peer-focus:text-firstColor pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-5 peer-valid:-translate-y-5 peer-valid:text-sm bg-slate-950 rounded-2xl ml-2 text-white">
                      Biografía
                    </span>
                  </label>
                </div>
              </div>
            
          
            <div class="flex justify-end mr-2">
              <button type="submit" class="bg-white text-black rounded px-4 py-2 cursor-pointer hover:bg-blue-400 hover:scale-105 hover:shadow-xl transition-all duration-300">
                Guardar cambios
              </button>
            </div>
          </form>
    </div>
  
    <div class="sticky top-0 pt-5">
        <div>
                <a class=" hvr-underline-from-center text-3xl font-bold uppercase border-b-2 border-gray-600 w-full text-center pb-6 ">
                        Foto de perfil
                </a>
        </div>
      <div>

      <img [src]="profilePicture || './../../../../assets/songs/logo.png'"
           class="w-[800px] h-[670px] object-cover border border-white cursor-pointer"
           (click)="triggerFileInput()">
      
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" hidden>
      </div>
    </div>
  </div>
