<footer class="flex flex-col bg-gray-800 mx-center mr-20 ml-40 mt-4 pb-10 pr-4 pl-4 pt-2 rounded-lg">

  <h2 class="text-white text-2xl font-semibold mb-4">Últimos Albums</h2>

  <div class="flex space-x-6">
    <div class="flex flex-row space-x-6" *ngFor="let album of albums()">
      <a (click)="onShowAlbum(album)"
        class="bg-transparent border-none cursor-pointer transition-transform duration-300 hover:scale-105">
        <div id="img" class="rounded-2xl overflow-hidden shadow-lg">
          <img [src]="album.image ? album.image : './../../../../assets/songs/logo2.png'"
            class="w-[200px] h-[200px] object-cover rounded-2xl">
        </div>
        <div id="nameType_and_artist" class="bg-gray-800 w-full h-[30%] rounded-b-2xl text-center mt-2">
          <p class="font-bold text-white">{{album.name}}</p>
          <span class="text-sm text-gray-400">Album • {{album.by}}</span>
        </div>
      </a>
    </div>
  </div>

</footer>