<footer class="flex flex-col bg-gray-800      
  mt-2 ml-2 w-[370px]
  sm:p-6 sm:mr-20 sm:ml-32 sm:mt-2 rounded-lg sm:w-[1300px]">
  <h2 class="text-white pl-2 pt-2 sm:pt-0 text-xl sm:text-2xl font-semibold mb-1">Últimos Albums</h2>

  <div class="flex flex-wrap justify-center gap-10 sm:gap-4">
    <div class="flex flex-col items-center" *ngFor="let album of albums()">
      <a (click)="onShowAlbum(album)"
        class="bg-transparent border-none cursor-pointer transition-transform duration-300 hover:scale-105">
        <div id="img" class="rounded-2xl overflow-hidden shadow-lg">
          <img [src]="album.image ? album.image : './../../../../assets/songs/logo2.png'"
            class="w-[130px] h-[50px] sm:w-[150px] sm:h-[150px] lg:w-[150px] lg:h-[150px] object-cover rounded-2xl">
        </div>
        <div class="bg-gray-800 w-full rounded-b-2xl text-center mt-2">

          <p class="text-[12px] font-bold text-white sm:text-base lg:text-sm
            w-[60px] sm:w-[100px] lg:w-[150px] 
            whitespace-nowrap overflow-hidden text-ellipsis">
            {{album.name}}
          </p>
          <span class="text-[10px] sm:text-xs text-gray-400">
            <span class="hidden sm:inline">Album • </span>{{album.by}}
          </span>
        </div>
      </a>
    </div>
  </div>
</footer>