<footer class=" float-right flex items-center  bg-[#16213e] mr-4 mt-4">
  <div class="flex flex-col items-center mr-3 mt-4 pb-4 pl-2" *ngFor="let recomendation of listOfRecomentadions()">
    
      <a (click)="onAlbumClick()" class="bg-transparent border-none cursor-pointer transition-transform duration-300 hover:scale-105">
        <div id="img" class="rounded-2xl overflow-hidden shadow-lg">
          <img [src]="recomendation.image" class="w-[230px] h-auto object-cover rounded-2xl">
        </div>
        <div id="nameType_and_artist" class="bg-[#16213e] w-full h-[30%] rounded-b-2xl  text-center">
          <p class="font-bold">{{recomendation.name}}</p>
          <span class="text-sm text-gray-400">{{recomendation.type}} * {{recomendation.nameArtist}}</span>
        </div>
      </a>
  </div>
</footer>
