<div class="container mx-auto flex justify-between mt-16 px-10 min-h-[700px] border border-white">
  <div class="w-1/3 p-5 overflow-y-auto max-h-[830px] mr-5 border border-white">
    <h2 class="text-xl font-bold mb-4">Artistas</h2>
    <ul>
      <app-search-artists/>
    </ul>
  </div>

  <div class="w-1/3 p-5 overflow-y-auto max-h-[830px] mr-5 border border-white">
    <h2 class="text-xl font-bold mb-4">Canciones</h2>
    <ul>
      <app-song-list/>
    </ul>
  </div>

  <div class="w-1/3 p-5 overflow-y-auto max-h-[830px] border border-white">
    <h2 class="text-xl font-bold mb-4">Álbumes</h2>
    <ul>
      <app-album-list/>
    </ul>
  </div>
</div>
