<div class=" items-center pl-14 flex flex-row sm:flex-row sm:items-center sm:pl-24 sm:pt-10 sm:gap-10">

  <div class="text-center text-sm sm:text-base">
    <span class="font-bold text-lg sm:text-xl">{{currentSong()?.name ?? 'Canción desconocida'}}</span><br>
    <span class="text-[10px] sm:text-[12px]">{{currentSong()?.by ?? 'Artista desconocido'}}</span>
  </div>

  <div class="flex justify-center sm:justify-between items-center p-5 sm:p-10">
    <img [src]="currentSong()?.image ?? './../../../../assets/songs/logo.png'"
      class="w-[100px] h-[100px] sm:w-[200px] sm:h-[200px] rounded-full object-cover border-2 border-white transition-all duration-300 ease-in-out">
  </div>

</div>