<div class="flex items-center justify-around w-full p-5 overflow-hidden" id="songInfo-iconArtist">
  <div class="text-center text-base" id="songInfo">
    <span id="songName">The Chain</span><br>
    <span id="artistName">Fleetwood Mac</span>
  </div>
  <div class="flex justify-between items-center p-10" id="iconArtist">
    <img src="../../../../assets/songs/Fleetwood-Mac-twister.png" alt="Dream" class="w-[200px] h-[200px] rounded-full object-cover border-2 border-white transition-all duration-300 ease-in-out">
  </div>
</div>
