<div *ngFor="let song of songs()">
    <div>
      <div class="m-2 border-b-2 border-gray-600 flex items-center hover:bg-gray-700 transition-colors duration-300"
        (dblclick)="handleDblClick(song)">
        <div class="h-[70px] w-[70px] p-2">
          <img [src]="song.song_image" alt="song image" class="w-full h-full object-cover">
        </div>
  
  
        <a class="ml-4 flex flex-col justify-center text-xl text-white">
          {{song.song_name}}<br>
          <span class="text-[14px] text-[#bbb] mt-1">{{song.by}}</span>
        </a>
  
        <div class="flex items-center ml-auto mr-8 space-x-4 text-xl text-white">

          <a *ngIf="!isSongAdded(song)" (click)="onAddToAlbumSong(song)"
            class="hover:text-orange-300 transition-colors duration-200 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-8">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </a>
          <a *ngIf="isSongAdded(song)" (click)="onRemoveToAlbumSong(song)"
            class="hover:text-red-400 transition-colors duration-200 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </a>
          <span class="text-gray-400">{{ song.time }}</span>
        </div>
      </div>
    
    </div>
  </div>
