.login-box {
  font-family: 'Antic', sans-serif;
  width: auto;
  height: 100vh;
  margin-left: 4rem;
  max-width: 800px;
  min-height: auto;
  background-color: whitesmoke;
  color: black;
  padding: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(30px); /* Inicialmente desplazado hacia abajo */
  animation: fadeInUp 1s ease-out forwards; /* Animación de desvanecimiento y desplazamiento */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos hover */

  display: flex;
  flex-direction: row; /* Alinea los elementos de forma vertical */
  justify-content: center; /* Centra verticalmente el contenido dentro */
  align-items: center; /* Centra horizontalmente el contenido dentro */
  text-align: center; /* Alinea el texto en el centro */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Empieza un poco más abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición original */
  }
}

.login-box:hover {
  background-color: rgba(245, 245, 245, 0.9); /* Cambia ligeramente el color al hacer hover */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 1); /* Hace el sombreado más pronunciado */
}
.login-box h2{
  text-align: center;
  margin-bottom: 20px;
}

.login-box input{
  background-color: #fff;
  border: 2px solid black;
  color: black;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.login-box select{
  background-color: #fff;
  border: 2px solid black;
  color: #023047;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Eventos */
.login-box input:focus{
  border-color: whitesmoke;
  outline: none;
}

.login-box a{
  /*display: block; Convertir en bloque*/
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.login-box a:hover{
  opacity: 0.7;
}

.primary {
  background-color: black;
  width: 100%;
}

.secondary{
  background-color: white;
  color: black !important;
  width: 100%;
}

