<li class="navbar-item search-bar">
  <div class="relative inline-block">
    <input id="search" type="text" placeholder="¿Qué quieres reproducir?" 
      class="px-4 py-3 w-[350px] rounded-full border-none transition-all duration-300 ease-in-out bg-[#67676b] focus:bg-white text-base">
    
    <!-- Icono SVG dentro del input -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
      stroke="currentColor" class="absolute left-2 top-1/2 transform -translate-y-1/2 w-5 h-5 text-white">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1 0 3 10.5a7.5 7.5 0 0 0 13.65 6.15z" />
    </svg>
  </div>
</li>
