<li class="navbar-item search-bar">
    <div class="search-container">
        <input id="search" type="text" placeholder="¿Qué quieres reproducir?">
        <!-- Icono SVG dentro del input -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search-icon" style="width: 24px; height: 24px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1 0 3 10.5a7.5 7.5 0 0 0 13.65 6.15z" />
        </svg>
    </div>

</li>