<header class="h-[82px] text-white">
    <nav>
      <ul class="navbar list-none flex items-center justify-between py-3.5 px-5 my-1 bg-black border-b border-gray-500 rounded-br-lg">
        <!-- Logo -->
        <li class="navbar-item logo flex items-center justify-center">
          <a id="logo_of_page" href="./home.html" class="text-4xl font-bold text-white no-underline whitespace-nowrap">
            <img src="../../../../assets/songs/logo.png" class="w-[45px] h-[45px] ml-2.5 mt-0.5" />
          </a>
        </li>

        <!-- Search -->
        <app-search></app-search>

        <!-- User Menu -->
        <li class="navbar-item user-menu flex items-center relative">
          <!-- Profile -->
          <a id="profile" (click)="onProfileClick()" class="text-gray-500 text-lg no-underline transition-colors hover:text-white ml-3.5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </a>

          <!-- Exit -->
          <a id="exit" (click)="onExitClick()" class="text-gray-500 text-lg no-underline transition-colors hover:text-white ml-3.5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </header>
