<header class="bg-slate-950 text-white border-b border-gray-700 sticky z-50 max-w-full ">
  <nav>
    <ul class="navbar list-none flex items-center  ">

      <li class="navbar-item flex items-center">
        <a id="logo_of_page" (click)="onBackMenu()" class="flex items-center text-white no-underline cursor-pointer">
          <img src="../../../../assets/songs/logo.png" alt="Logo" class="w-12 h-12 ml-2 rounded-full object-cover">

          <span class="ml-2 text-2xl font-bold hidden md:inline">Mercury</span>
        </a>
      </li>

      <li class="navbar-item flex-grow mx-5">
        <div class="">
          <app-search></app-search>
        </div>


      <li class="navbar-item  items-center space-x-4 relative hidden md:flex mr-4">
        <a *ngIf="showLaboratory" (click)="onMysongsClick()"
          class="text-gray-400 hover:text-white transition-colors text-lg cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
          </svg>

        </a>

        <a (click)="onProfileClick()" class="text-gray-400 hover:text-white transition-colors text-lg cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>

        </a>

        <a (click)="onExitClick()" class="text-gray-400 hover:text-white transition-colors text-lg cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
          </svg>

        </a>
      </li>

      <li class="md:hidden flex items-center">
        <button (click)="toggleMenu()" class="text-gray-400 hover:text-white mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </li>
    </ul>

    <ul *ngIf="menuOpen" class="flex-col items-center bg-slate-950 p-4 space-y-4 mt-2">
      <li>
        <a *ngIf="showLaboratory" id="ArtistSongs" (click)="onMysongsClick()"
          class="text-gray-400 hover:text-white transition-colors text-lg cursor-pointer">Laboratorio</a>
      </li>
      <li>
        <a routerLink="profile" (click)="onProfileClick()"
          class="text-gray-400 hover:text-white transition-colors text-lg cursor-pointer">Perfil</a>
      </li>
      <li>
        <a id="exit" (click)="onExitClick()"
          class="text-gray-400 hover:text-white transition-colors text-lg cursor-pointer">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
</header>