<div id="playPause" class="flex justify-center items-center p-0 w-full -mt-16">
    <div id="controls" class="flex gap-2.5 justify-center">
        <button id="previousButton" class="bg-[#b429f9] border-none text-white text-base p-4 rounded-[20%] cursor-pointer transition duration-300 hover:bg-gray-400">
            &#9664;
        </button>
        <button id="pauseButton" class="bg-[#b429f9] border-none text-white text-base p-4 rounded-[20%] cursor-pointer transition duration-300 hover:bg-gray-400">
            &#10074;&#10074;
        </button>
        <button id="nextButton" class="bg-[#b429f9] border-none text-white text-base p-4 rounded-[20%] cursor-pointer transition duration-300 hover:bg-gray-400">
            &#9654;
        </button>
    </div>
</div>
