<div
  class="mx-auto w-ful mt-4 mr-10 ml-10 min-h-[830px] rounded-md text-white overflow-hidden flex justify-between p-10">
  <div id="menuMusic" class="w-1/2 p-10">
    <div class="flex justify-between">
      <a (click)="onChangeOpen('music')"
        class="button hvr-underline-from-center text-2xl border-b-2 border-gray-600 w-full text-center pb-6">
        MUSIC
      </a>
      <a (click)="onChangeOpen('album')"
        class="button hvr-underline-from-center text-2xl border-b-2 border-gray-600 w-full text-center pb-6">
        ÁLBUMES
      </a>
      <a (click)="onChangeOpen('create')"
        class="button hvr-underline-from-center text-2xl border-b-2 border-gray-600 w-full text-center pb-6">
        CREAR
      </a>
    </div>

    <div class="mt-10 min-h-[595px]">
        <ng-container *ngIf="currentView === 'music'">
            <app-song-list
              [songs]="songs()"
              [selectedSong]="selectedSong"
              (songSelect)="onSongSelect($event)">
            </app-song-list>
          </ng-container>
        

      <ng-container *ngIf="currentView === 'album'">
        <div class="m-2 p-10 border border-white">
          <!-- Contenido de ÁLBUMES -->
        </div>
      </ng-container>

      <ng-container *ngIf="currentView === 'create'">
        <div class="m-2 p-10 border border-red-700">
          <!-- Contenido de CREAR -->
        </div>
      </ng-container>
    </div>

  </div>

  <div id="song-album" class="w-1/2 p-10">
    <img [src]="selectedSong.image"
      class="w-full max-w-[800px] max-h-[690px]">
  </div>
</div>
