<div class="sidebar float-end">
    <div class="flex flex-grow ">
      <aside class="min-h-full bg-gray-800 text-white flex-col p-4 rounded-l-lg" (mouseenter)="toggleMenu(1)">
        <button class="mb-4 p-2 rounded-lg" (click)="toggleMenu(1)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
              </svg>
              
        </button>
        
        <button class="mb-4 rounded-lg" (click)="toggleMenu(2)">
          Button 2
        </button>
         
      </aside>
  
      <div [ngClass]="{ 'hidden': !openMenu }"
        class="bg-gray-600/50 min-h-screen w-full fixed top-0 right-20 backdrop-blur-sm" (click)="closeMenu()"></div>
  
      <div [ngClass]="{ 'w-72': openMenu, 'w-0': !openMenu }"
        class="bg-slate-950 min-h-screen fixed top-0 right-20 transition-all duration-300">
   
      </div>
    </div>
  </div>