<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="items-center p-10 ">
  
    <div class="flex  p-2">
      <label class="relative w-full">
        <input formControlName="name" 
        type="text" 
        required 
        placeholder=""
        class="px-4 py-2 text-lg outline-none border-2 border-gray-400 rounded hover:border-gray-600 duration-200 peer focus:border-firstColor bg-inherit w-full">
        <span class="flex flex-auto absolute left-0 top-2 px-1 text-lg tracking-wide peer-focus:text-firstColor pointer-events-none duration-200 peer-focus:text-sm peer-focus:-translate-y-5 peer-valid:-translate-y-5 peer-valid:text-sm bg-slate-950 rounded-2xl ml-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-2 size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
          </svg>
          
          Nombre del Album
        </span>
      </label>
    </div>

    <div class="flex mb-8 p-2">  
      <label class="relative w-full">
        <div class=" text-lg flex flex-auto ">
  
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
          Portada del album
        </div>  
        <input type="file" (change)="onImageSelect($event)" accept="file/*" required class="px-4 py-2 text-lg outline-none border-2 border-gray-400 rounded hover:border-gray-600 duration-200 peer bg-inherit w-full">
      </label>
    </div>

    <div class="pl-8 text-xl">
      <h2>Ingresa los sencillos de tu galeria</h2>
        <app-song-list />
    </div>
   

  
  
    <div class="w-full flex justify-end p-4">
      <button type="submit" class="bg-white text-black rounded px-4 py-2 cursor-pointer hover:bg-blue-400 hover:scale-105 hover:shadow-xl transition-all duration-300">
        Publicar Album</button>
    </div>
  
    
  </form>
  