#song{
    background-color: #67676b;
    width: 100%;
    padding: 38px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}



#previousSong img,
#nextSong img {
    width: 80%; 
    max-width: 230px; 
    height: auto;
    border-radius: 20px;
    text-align: center;

    
}

#previousSong span, 
#nextSong span {
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}

#currentSong img {
    width: 100%;
    max-width: 420px; 
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}