<main>
    <section>
        <app-three-main-songs />
        
        <div id="playMusic">
            <div id="bigTime-iconArtist">
                <div id="bigTime">
                    1:20
                </div>
                <div id="iconArtist">
                    <img src="../../../../assets/songs/Fleetwood-Mac-twister.png" alt="Dream">
                </div>
            </div>
            
            <div id="timeBar">
                <span id="currentTime">1:20</span>
                <input type="range" id="progressBar" value="80" min="0" max="100">
                <span id="durationTime">4:20</span>
            </div>
            
            <div id="songName-playPause">
                <div id="songInfo">
                    <span id="songName">The Chain</span><br>
                    <span id="artistName">Fleetwood Mac</span>
                </div>
                <div id="controls">
                    <button id="previousButton">&#9664;</button>
                    <button id="pauseButton">&#10074;&#10074;</button>
                    <button id="nextButton">&#9654;</button>
                </div>
            </div>
        </div>
        
    </section>

    <app-footer />
</main>